<div hx-ext="client-side-templates">
    <div class="row mb-1">
        <h1 class="col">Hike Logs</h1>
    </div>
    <div class="row">
        <div class="col">
            <p>
                This page uses an htmx extension to load json data from the server and render templates client side with handlebars. DOPE!
            </p>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalContainer"
                hx-get="create-hike-log-form"
                hx-target="#modalContainer .modal-content"
                >
                Add Hike
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" 
            hx-get="https://trails.apps.fourscorepicks.com/api/hike-logs"
            handlebars-template="hike-logs-table"
            hx-trigger="load">
        </div>
    </div>

</div>

<div class="modal fade" id="modalContainer" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>